.fileSystem{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
}


.fileSystem .btn{
    align-self: self-end;
}
.itemRow{
    display: flex;
    flex-direction: row;
}
.itemsSection{
    margin-left: 2%;
}


