
#messagesWrapper{
    background-color: #dbe7e4;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border-left-color: darkgrey;
    border-left-style: solid;
    align-items: center;
}

#main #messagesWrapper {
    flex-basis: 50%;
}

.center #messagesWrapper {
    flex-basis: 60%;
}

body {
    background: #f1f1f1;
}

.Toast {
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
    display: flex;
    font-family: Helvetica;
    justify-content: space-between;
    padding: 0.6rem;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 90%;
}

.Toast--success {
    border-color: #008554;
}

.Toast--warning {
    border-color: #FFC627;
}

.Toast--error {
    border-color: #D14229;
}

.Toast__message-category {
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
    text-transform: capitalize;
}

.Toast__message-text {
    border-radius: 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 0;
}

.Toast__button {
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    margin-left: 1rem;
    opacity: 0.5;
    padding: 0;
}